<div class="heros">
    <h1>Marvel Character Catalog</h1>
    <p>
        Search:
        <input ng-model="query" />
    </p>
    <ul>
        <li ng-repeat="hero in heros"
            class="thumbnail phone-list-item">
            <a href="#!/heros/{{hero.id}}" class="thumb">
                <img ng-src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="{{hero.name}}" />
            </a>
            <a href="#!/heros/{{hero.id}}">{{hero.name}}</a>
            <p></p>
        </li>
    </ul>
</div>
