body {
    padding: 20px;
    background-color: black;
    color: white;
}

h1 {
    border-bottom: 1px solid gray;
    margin-top: 0;
}

input {
    color: black;
}

.heros {
    width: 50%;
    margin: auto;
    background-color: #e23636;
    padding: 15px;
}

.heros h1 {
    text-align: center;
}

.heros ul {
    list-style: none;
    margin: auto;
    padding: 0px;
}

.heros p {
    text-align: center;
}

.heros li {
    clear: both;
    height: 115px;
    padding-top: 15px;
    margin: 15px;
}

.thumb {
    float: left;
    height: 100px;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    width: 100px;
}

/* View: Hero detail */
.heroImage {
    background-color: white;
    float: right;
    height: 400px;
    margin-bottom: 2em;
    margin-right: 3em;
    padding: 2em;
    width: 400px;
}